.boton {
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    display: flex;
    gap: 1rem;
    right: 0;
    padding-right: 4rem;
    /* top: 0; */
    bottom: 0;
    padding-bottom: 2rem;
}

.botoncito {
    border-radius: 50%;
}

.button {
    background-color: #20ff4b;
    color: white;
    width: 4.2rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    padding-left: 0.5em;
}

.divMessage {
    background-color: white;
    border-radius: 15%;
    width: 6rem;
    height: 5rem;
    border: solid 1px #00BFFF;
    
}

.divMessage p {
    color: black;
    padding: 7px; 
    font-size: small;
}

/* Mobile */
@media (max-width: 700px) { 
    .divMessage { 
        display: none;
    }
    .boton {
        bottom: 72px;
        right: -21px;
    }
    
}